body {
  background-image: url(/starter-code/assets/destination/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem;
  color: white;
}

#genNav {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  letter-spacing: 2.7px;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: space-around;
  width: 50%;
  padding: 25px 35px;
  position: absolute;
  top: 20px;
  right: 0;
}

#genNav a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
#genNav a:hover {
  text-decoration: underline;
  text-underline-offset: 1.5625rem;
  text-decoration-color: #979797;
  text-decoration-thickness: 0.15rem;
}

#genNav a:active {
  text-decoration-color: white;
}

.num {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
}

.destImg {
  position: absolute;
  top: 30%;
  left: 15%;
}

.destination {
  font-family: "Bellefair", serif;
  font-size: 6.25rem;
  text-transform: uppercase;
  color: white;
  margin-bottom: 10%;
}

.destContent {
  padding: 0;
  position: absolute;
  right: 10%;
  top: 30%;
  width: 31%;
  max-height: 40%;
  height: 35%;
}

p {
  color: #d0d6f9;
  line-height: 2.4rem;
}

#pick {
  color: white;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 4.75px;
  position: absolute;
  top: 15%;
  left: 12%;
}

#destNum {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  color: #979797;
}

#destNames {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  position: relative;
  right: 1.1%;  /* border: 1px solid orange; */
}

#destNames a {
  color: #d0d6f9;
  text-decoration: none;
  margin: 0 2%;
  display: flex-end;
}

#destNames a:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #979797;
  text-decoration-thickness: 0.25rem;
}

#destNames a:active {
  color: white;
  text-decoration-color: white;
}
hr {
  margin-top: 50px;
  height: 0.5px;
  border: none;
  background-color: #979797;
}

.infoQ {
  font-size: 0.875rem;
  letter-spacing: 2.35px;
  text-transform: uppercase;

  line-height: 1rem;
}

.infoA {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-size: 1.75rem;
  color: white;
  line-height: 0;
}

.distance {
  display: inline-block;
  text-transform: uppercase;
}

.time {
  display: inline-block;
  margin-left: 25%;
  text-transform: uppercase;
}
